body{
    margin: 0px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ul li a{
text-decoration: none;
color:white;


}
nav{

top:0;
width: 100%;
background-color: midnightblue;
}

nav ul{
margin-left: 15%;

}
ul li{
list-style-type: none;
display: inline-block;
padding: 15px 10px;   
}
nav ul li.search{
margin-left: 30%;

}

input[type=search]{

font-size: 17px;
border: 1px solid;
font-family: 'Times New Roman', Times, serif;



}

nav ul li button{
border: 1px solid;
font-size: 17px;
font-family: 'Times New Roman', Times, serif;
cursor: pointer;
}
.content{
margin-left: 7%;

}
.content ul li{
display: flex;
opacity: 0.6;
font-size: 17px;
}
.content ul{
margin-left:5%;
margin-top:5%;


}
.content ul li{
padding: 10px;
font-size: 13px;

}
.content ul li a{
color:black;

}
.line-divider{
position: absolute;
opacity: 0.6;
left:13%;
}

.content-right{
position: absolute;
right: 15%;
top:28%;
}

.content-right ul li{
display: flex;
opacity: 0.6;
font-size: 17px;
}
.content-right ul{
margin-right:5%;
margin-top:5%;


}
.content-right ul li{
padding: 10px;
font-size: 13px;
color:black;
}
.content-right ul li a{
color:black;
}
.notice p{
padding: 15px;
margin-left: 30%;

}
.notice{
width: 100%;
margin-top: -16px;

background-color:rgba(211, 211, 211, 0.5);

}
.notice p a{
text-decoration: none;
color: blue;

}

.main-content{
position: absolute;
left:24%;
top:30%;
width:50%;
background-color:rgba(135,206,250,0.4)

}

.getting-started{
position: absolute;
left:24%;
top:50%;
width:50%;
    
}
@media only screen and (max-width: 768px){
.content{
    display: none;

}
.content-right{
    display: none;
}
.main-content{
    top:21%;
    left:4%;
   

}

.notice p{
    margin-left: 1%;
}
}

@media only screen and (max-width: 1200px){
.content{
    display: none;

}
.content-right{
    display: none;
}
.main-content{
    top:21%;
    left:4%;

}
.notice p{
    margin-left: 1%;
}
}


.main-content .download-notice .head{
margin-left:10%;
}
.main-content .download-notice .below{
margin-left:20%;
}


.next{
 display: none;
}

.fa-angle-down{

 cursor: pointer;
 margin-left:3px;
 font-size:16px;
 font-weight: bold;
}

.fa-angle-up{
cursor: pointer;
 margin-left:3px;
 font-size:16px;
 font-weight: bold;

 
}

.next{
 margin-left: 2%;
}

